/* global rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0 !important;
}
:root{
    --pink-color: #e94560;
    --blue-color: #0f3460;
    --theme-color: #f6f9fc;
    --gray-color:#adb5bd;
}
body{
    font-family: 'Roboto Condensed', sans-serif !important;
    background-color: var(--theme-color) !important;
    overflow-x: hidden;
}
.container{
    margin: auto !important;
}
.row{
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
}
.col{
    margin: 0 !important;
    padding: 0 !important;
}
.pd-y{
    padding: 40px 0 !important;
}
.mg-t{
    margin-top: 40px !important;
}
.f-wth{
    width: 100vw !important;
}

/* section header */ 
/* common in three sections */
.section-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-header .header-title{
    display: flex;
    align-items: center;
}
.header-title .icon{
    font-size: 32px;
    margin-right: 5px !important;
    color: var(--pink-color);
}
.header-title h3{
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 700;
}
.section-header a{
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 400;
    color: var(--pink-color);
}
.section-header a:hover{
    color: var(--pink-color);
}

/* item img, title and price */
.item-img{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.item-img img{
    width: 100%;
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
}
.item-desc{
    display: flex;
    flex-direction: column;
    margin-top: 5px !important;
    text-transform: capitalize;
    font-weight: 700;

}
.item-title{
    font-size: 16px;
}
.item-price{
    font-size: 18px;
    color: var(--pink-color);
}

/* card */
.card{
    min-height: 385px;
    padding: 8px;
    border-color: var(--gray-color);
}
.card .discount{
    width: fit-content;
    color: #fff;
    background-color: var(--pink-color);
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 5px !important;
}
.card-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}
.card-body .card-title{
    color: #000;
    text-transform: capitalize;
    font-size: 16px;
}
.card-body .price{
    color: var(--pink-color);
    font-size: 18px;
}
.card-body button{
    background-color: #fff;
    color: var(--pink-color);
    border: 1px solid var(--gray-color);
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    padding: 4px !important;
}
.card-body button:hover{
    background-color: var(--pink-color);
    color: #fff;
    border: 1px solid var(--gray-color);

}
.card-img{
    height: 240px;
}
.card-img img{
    width: 100% !important;
    height: 100% !important;
}

/* scroll bar */
/* width */
::-webkit-scrollbar {
    width: 8px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--pink-color);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}